
div.floatLeft {
  float:left;
}
DIV#formSeperator {
  margin-top:32px;
  font-weight:bold;
}
DIV#deleteLink {
  margin-top:31px;
}

DIV#confirmbox {
  display:block;
  border:1px solid black;
  background-color:#AAAAAA;
  margin-top:15px;
  padding:10px;
  width:400px;
  height:75px;
  font-weight:bold;
}

DIV#confirmbox LI {
  font-weight:normal;
}

FORM .checkbox  {
  margin-top:12px;
}

DIV#confirmbox .form-submit,
#cancel {
  margin:3em 0.5em 1em 0;
}
.table-title{
  display:block;
  font-weight:bold;
}

#enable_disable_checkbox-wrapper {
  margin-top:3px;
  margin-right:5px;
}
#edit-username {
  width:200px;
}
#edit-reset {
  display:none;
}
#edit-submit1 {
  float:left;
}
#import-export,
#import-export1 {
  float:right;
	width:270px;
}
#deleteLink A:hover,
#import-export .button:hover,
#import-export1 .button:hover {
  background:transparent url(../images/white-2.png) no-repeat scroll left top;
  border:medium none;
  padding:6px 26px;
}
#deleteLink A,
#import-export .button,
#import-export1 .button {
  background:transparent url(../images/up.png) no-repeat scroll left top;
  border:medium none;
  padding:6px 26px;
}
#deleteLink A,
#import-export .button,
#import-export1 .button {
  background:transparent url(../images/white-1.png) no-repeat scroll left top;
  border:medium none;
  padding:6px 26px;
}
DIV#import-export A.button {
	float:right;
}
.ipauth_ip {
  border:1px solid #DFDFDF;
  background-color:#EFEFEF;
  padding-left:10px;
}
DIV.form-table {
  clear:both;
}
DIV#user_filter-wrapper {
	float:left;
	margin-top:-15px;
	margin-right:32px;
}
